<%- include('partials/header'); -%>
<h1>home</h1>
<form class="d-flex position-relative" role="search" id="searchForm">
    <input class="form-control me-2" type="search" placeholder="add new to do" aria-label="Search" id="searchInput" autocomplete="off">
    <button class="btn btn-outline-success" type="submit">+</button>
</form> 
<%- include('partials/footer'); -%>

